@import url("https://fonts.googleapis.com/css?family=Thasadith");
.App {
  text-align: center;
}

#root {
  width: 100%;
  font-family: "Thasadith", sans-serif;
  background-color: #102a43;
  color: #d9e2ec;
}

.container {
  width: 100%;
}

.navbar-container {
  padding: 0 10px;
  width: 100%;
  white-space: nowrap;
  height: auto;
}

.nav-link {
  color: #f0f4f8;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: color 1s, font-size 1s;
  -moz-transition: color 1s, font-size 1s;
  -o-transition: color 1s, font-size 1s;
  transition: color 1s, font-size 1s;
}

.nav-link:hover {
  color: #9fb3c8;
  font-weight: bold;
  font-size: 17px;
}

.container-whoAmI {
  background-color: #243b53;
}

.WhoAmI-title {
  width: auto;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 3px solid #9fb3c8;
  display: inline-block;
}

.portfolio-img {
  margin-left: 5px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.headerNavbar {
  width: 100%;
  border-top: 3px solid #9fb3c8;
}

.navbar-color {
  background-color: #102a43;
  color: #9fb3c8;
}

.mern-stack-img {
  width: 100%;
  height: auto;
}

.introduction-text {
  margin-top: 10px;
  font-size: 1.4em;
}

.web-lang-img {
  width: auto;
  height: 50px;
}

.tools-container {
  background-color: #243b53;
}

.tools-title {
  font-weight: bold;
  width: auto;
  margin: 0 auto;
  font-size: 18px;
  border-bottom: 3px solid #9fb3c8;
  display: inline-block;
}

.whatCanIDo-container {
  background-color: #102a43;
}

.whatCanIDo-title {
  font-weight: bold;
  width: auto;
  margin: 0 auto;
  font-size: 18px;
  border-bottom: 3px solid #9fb3c8;
  display: inline-block;
}

.projects-container {
  background-color: #243b53;
}

.projects-title {
  font-weight: bold;
  width: auto;
  margin: 0 auto;
  font-size: 25px;
  border-bottom: 3px solid #9fb3c8;
  display: inline-block;
}

.projects-section {
  background-color: #334e68;
  border-radius: 10px;
  color: #d9e2ec;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.projects-section a {
  text-decoration: none;
  color: #f7eeff;
}

.markMeImage {
  width: 200px;
  height: 200px;
}

.hireMe-title {
  font-weight: bold;
  width: auto;
  margin: 0 auto;
  font-size: 18px;
  border-bottom: 3px solid #9fb3c8;
  display: inline-block;
}

.footer {
  background-color: #243b53;
}

.footer a {
  text-decoration: none;
  color: #9fb3c8;
}

.skillsImg {
  width: 75px;
  height: 75px;
}

@media (min-width: 1024px) {
  #root {
    font-size: 1.4em;
  }

  .portfolio-img {
    margin-left: 5px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .navBar-img {
    width: 75px;
    height: 75px;
  }

  .WhoAmI-title {
    width: auto;
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 3px solid #9fb3c8;
    display: inline-block;
  }
  .introduction-text {
    margin-top: 10px;
    font-size: 2em;
  }
  .container-whoAmI {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .mern-stack-img {
    width: auto;
    height: 300px;
  }
  .web-lang-img {
    width: auto;
    height: 100px;
  }
  .tools-container {
    background-color: #243b53;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .tools-title {
    font-weight: bold;
    width: auto;
    margin: 0 auto;
    font-size: 25px;
    border-bottom: 3px solid #9fb3c8;
    display: inline-block;
  }
  .projects-container {
    border-radius: 10px;
  }
  .projects-section {
    font-size: 18px;
    border-radius: 10px;
  }
  .whatCanIDo-title {
    font-weight: bold;
    width: auto;
    margin: 0 auto;
    font-size: 25px;
    border-bottom: 3px solid #9fb3c8;
    display: inline-block;
  }

  .skillsImg {
    width: 150px;
    height: 150px;
  }

  .footer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
