.App {
  text-align: center;
}

#root {
  width: 100%;
  background-color: #393653;
  color: #f7eeff;
}

.container {
  width: 100%;
}

.navbar-container {
  padding: 0 10px;
  width: 100%;
  white-space: nowrap;
}

.nav-link {
  color: #f7eeff;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: color 1s, font-size 1s;
  -moz-transition: color 1s, font-size 1s;
  -o-transition: color 1s, font-size 1s;
  transition: color 1s, font-size 1s;
}

.nav-link:hover {
  color: #f7eeff;
  font-weight: bold;
  font-size: 17px;
}

.container-whoAmI {
  background-color: #2c2a46;
}

.WhoAmI-title {
  width: auto;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 3px solid #393653;
  display: inline-block;
}

.portfolio-img {
  margin-left: 5px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.headerNavbar {
  width: 100%;
  border-bottom: 3px solid #2c2a46;
}
.portfolio-border {
  width: 85px;
  height: 75px;
  border-radius: 50%;
  background-color: #f7eeff;
}

.navbar-color {
  background-color: #393653;
  color: #f7eeff;
}

.mern-stack-img {
  width: 100%;
  height: auto;
}

.introduction-text {
  margin-top: 10px;
  font-size: 1.4em;
}

.web-lang-img {
  width: auto;
  height: 50px;
}

.tools-container {
  background-color: #2c2a46;
}

.tools-title {
  font-weight: bold;
  width: auto;
  margin: 0 auto;
  font-size: 18px;
  border-bottom: 3px solid #393653;
  display: inline-block;
}

.whatCanIDo-container {
  background-color: #393653;
}

.whatCanIDo-title {
  font-weight: bold;
  width: auto;
  margin: 0 auto;
  font-size: 18px;
  border-bottom: 3px solid #2c2a46;
  display: inline-block;
}

.projects-container {
  background-color: #2c2a46;
}

.projects-title {
  font-weight: bold;
  width: auto;
  margin: 0 auto;
  font-size: 18px;
  border-bottom: 3px solid #393653;
  display: inline-block;
}

.projects-section {
  background-color: #6511a54b;
  border-radius: 10px;
  color: #f7eeff;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.projects-section a {
  text-decoration: none;
  color: #f7eeff;
}

.markMeImage {
  width: 200px;
  height: 200px;
}

.hireMe-title {
  font-weight: bold;
  width: auto;
  margin: 0 auto;
  font-size: 18px;
  border-bottom: 3px solid #393653;
  display: inline-block;
}

.footer {
  background-color: #2c2a46;
}

.footer a {
  text-decoration: none;
  color: #f7eeff;
}

.skillsImg {
  width: 75px;
  height: 75px;
}
